<html>
<head>
    <%- loadCss('base') %>
    <%- loadCss('login') %>
    <script>
        window._global = <%- JSON.stringify(_global) %>;
    </script>
</head>
<body>
    <div id="app">
    </div>

    <%- loadJs('common')%>
    <%- loadJs('login') %>
</body>
</html>